.nav {
    position: relative;
    .component {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 3;
    }
    &_cantent {
        background-image: url("../../../public/careerbg.png"),
            linear-gradient(
                90deg,
                rgba(2, 0, 36, 1) 0%,
                rgba(0, 0, 0, 0.9103290974592962) 35%,
                rgb(0, 0, 0) 100%
            );
        background-repeat: no-repeat;
        padding-block: 10em;
        @media (max-width: 640px) {
            padding-block: 6em;
        }
        background-size: cover;
        background-position: center top;
        div {
            width: min(83em, 88%);
            margin: auto;
        }
        h1 {
            font-weight: 700;
            font-size: clamp(1.6rem, 3vw, 3rem);
            color: white;
            span {
                color: #fc76ff;
            }
            @media (max-width: 640px) {
                color: #fc76ff;
            }
        }
        p {
            font-size: clamp(1rem, 2vw, 1.6rem);
            color: white;
        }
    }
}
.booking {
    background-color: #131313;
    // outline: 50px solid red;
}
.footer {
    background-color: #131313;
    .copy {
        text-align: center;
        color: white;
        font-size: clamp(0.8rem, 1vw, 1.2rem);
    }
    display: grid;
    gap: 3em;
    padding-block: 2em;
}
