.call {
    width: min(85em, 94%);
    margin: auto;
    padding-block: 3em;
    &_para {
        text-align: center;
        font-size: clamp(1.2rem, 1.5vw, 1.5rem);
    }
    &_link {
        display: flex;
        justify-content: center;
        gap: 2em;
        padding-block: 1em;
        @media (max-width: 640px) {
            flex-direction: column;
            align-items: center;
            // outline: 2px solid red;
            gap: 1em;
        }

        a {
            background-color: #ec4731;
            color: white;
            padding-block: 0.5em;
            padding-inline: 1em;
            text-decoration: none;
            cursor: pointer;
            border-radius: 0.625rem;
            text-align: center;
        }
    }
}
