.service {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-block: clamp(2em, 4vw, 4em);
    width: min(85em, 92%);
    margin: auto;
    div {
        display: flex;
        flex-direction: column;
        gap: 0.8em;
        h3 {
            font-size: clamp(1.1rem, 1.3vw, 1.3rem);
        }
        p {
            font-size: clamp(1rem, 1.25vw, 1.25rem);
            font-weight: 500;
        }
    }
}
