.carouselparent {
    // overflow: hidden;
    margin-block: 3em;
    padding: 3em;
    background-color: #1c3752;
    width: min(90%, 80rem);
    margin-inline: auto;
    .carousel {
        display: flex;
        gap: 8em;

        animation: rotate 35s linear infinite;
        a {
            flex-shrink: 0;
            img {
                // width: 100em;
                width: clamp(10em, 24vw, 24em);
                aspect-ratio: 1/1;
            }
        }
        &:hover {
            animation-play-state: paused;
        }
    }
}
@keyframes rotate {
    0% {
        translate: 0;
    }

    100% {
        translate: -5966px;
    }
}
