.teambg {
    background-image: url("../../../public/tembg.png"),
        linear-gradient(
            90deg,
            rgb(0, 0, 0) 0%,
            rgba(0, 0, 0, 0.9103290974592962) 35%,
            rgb(0, 0, 0) 100%
        );
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    .team {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        width: min(76em, 90%);
        margin: auto;
        gap: 2em;
        padding-block: 3em;
        @media (max-width: 640px) {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 1em;
        }
        > :nth-child(1) {
            grid-area: 1/1/2/3;
            align-self: center;
            @media (max-width: 640px) {
                text-align: center;
                grid-area: 1/1/2/3;
                outline: 2px solid red;
            }
        }
        > :nth-child(2) {
            grid-area: 1/3/2/4;
            @media (max-width: 640px) {
                grid-area: 2/1/3/2;
            }
        }
        > :nth-child(3) {
            grid-area: 2/1/3/2;
            @media (max-width: 640px) {
                grid-area: 2/2/3/3;
            }
        }
        > :nth-child(4) {
            grid-area: 2/2/3/3;
            @media (max-width: 640px) {
                grid-area: 3/1/4/2;
            }
        }
        > :nth-child(5) {
            grid-area: 2/3/3/4;
            @media (max-width: 640px) {
                grid-area: 3/2/4/3;
            }
        }
        &_head {
            h4 {
                color: #fc76ff;
                font-weight: 700;
                font-size: clamp(2rem, 3vw, 3rem);
            }
            p {
                color: white;
                font-size: clamp(1.2rem, 2vw, 1.6rem);
            }
        }
        &_img {
            div {
                color: white;
                > :nth-child(1) {
                    font-weight: 700;
                    font-size: clamp(0.8rem, 2vw, 1.8rem);
                }
                > :nth-child(2) {
                    font-size: clamp(0.6rem, 1vw, 1.2rem);
                }
            }
        }
    }
}
