.nav_bg {
    background-color: hsl(0, 100%, 0%, 0.9);
    position: relative;
    .nav {
        // position: absolute;
        top: 0;
    }
}
.own {
    border-bottom: (0.1em solid black);
    @media (max-width: 640px) {
        border: none;
    }
}
.main_footer {
    background-color: #151515;
    padding-block: 3em;
}
.main {
    text-align: center;
    padding-block: 20em;
    padding-inline: 2em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    display: flex;
    justify-content: center;
    gap: 1em;
    position: relative;
    background-image: url("../../public/homebg1.png"),
        linear-gradient(
            90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(0, 0, 0, 0.9103290974592962) 35%,
            rgb(0, 0, 0) 100%
        );
    // background: linear-gradient(347deg, #000 28.61%, rgba(6, 6, 6, 0) 74.79%);
    @media (min-width: 640px) {
        background-image: url("../../public/homebg2.png"),
            linear-gradient(347deg, #000000 100%, rgb(6, 6, 6) 90.79%);
        background-position: center;
        // background: linear-gradient(
        //     347deg,
        //     #000 28.61%,
        //     rgba(6, 6, 6, 0) 74.79%
        // );
    }
    mask-image: linear-gradient(to bottom, black 80%, transparent);

    background-repeat: no-repeat;
    background-size: cover;
    p {
        font-size: clamp(2.5rem, 3vw, 3rem);
        font-weight: 600;
        color: white;
    }

    .main_link {
        a {
            font-size: clamp(1.125rem, 1vw, 1rem);
            text-decoration: none;
            font-weight: 600;
            padding: 0.5em 0.9em;
            border-radius: 0.5em;
        }
        & > :nth-child(1) {
            background-color: #982c17;
            color: white;
        }
        & > :nth-child(2) {
            background-color: white;
            color: black;
        }
    }
}
