.nav {
    z-index: 1;

    &bar {
        position: absolute;
        width: 100%;
        .menu {
            display: flex;
            justify-content: space-between;
            flex-direction: row-reverse;
            background: rgba(0, 0, 0, 0.22);
            padding-inline: 1em;
            // outline: 2px solid red;
            @media (min-width: 640px) {
                height: 4em;
                padding: 0;
            }
            // position: relative;
            .list {
                // outline: 2px solid red;
                position: fixed;
                background-color: white;
                height: 100vh;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                clip-path: inset(0 0 0 100%);
                transition: 300ms;
                top: 0;
                left: 0;
                z-index: 3;
                // outline: 2px solid blue;
                &.open {
                    clip-path: inset(0);
                }
                @media (min-width: 640px) {
                    clip-path: none;
                    // min-height: 0;
                    height: auto;
                    background: transparent;
                    position: static;
                    align-items: center;
                }
                ul {
                    padding: 0;
                    display: flex;
                    flex-direction: column;
                    gap: 1.5em;
                    font-size: 1.8rem;
                    // outline: 2px solid brown;
                    @media (min-width: 640px) {
                        flex-direction: row;
                        font-size: 1rem;
                        align-items: center;
                        margin: 0;
                        gap: clamp(2em, 7vw, 7em);
                    }
                    & > :nth-child(3) {
                        display: none;
                        @media (min-width: 640px) {
                            display: block;
                            img {
                                // height: 4em;
                            }
                        }
                    }
                    li {
                        list-style: none;
                        a {
                            text-decoration: none;
                            color: black;
                            @media (min-width: 640px) {
                                color: white;
                            }
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                        img {
                            width: clamp(6rem, 12vw, 12rem);
                            aspect-ratio: 3/0.5;
                            // outline: 2px solid red;
                        }
                    }
                }
            }
            .nav_icon {
                // position: absolute;
                // left: 0.5em;
                // top: 0.5em;
                position: relative;
                // outline: 2px solid red;
                .line {
                    position: absolute;
                    height: 0.2em;
                    width: 2em;
                    background-color: #9bafd3;
                    transition: 0.4s ease;
                    bottom: 2em;
                    border-radius: 0.3em;
                    z-index: 4;
                    // @media (max-width: 48em) {
                    //     display: none;
                    // }
                }

                .line::before {
                    content: "";
                    position: absolute;
                    height: 0.2em;
                    width: 2em;
                    background-color: #9bafd3;
                    top: -0.5em;
                    border-radius: 0.3em;
                    z-index: 4;
                    @media (min-width: 40em) {
                        display: none;
                    }
                }

                .input {
                    display: none;
                }

                .line::after {
                    content: "";
                    position: absolute;
                    height: 0.2em;
                    width: 2em;
                    background-color: #9bafd3;
                    bottom: -0.5em;
                    border-radius: 0.3em;
                    z-index: 4;
                    @media (min-width: 40em) {
                        display: none;
                    }
                }
                #Toggle:checked + label #active {
                    transform: rotate(45deg);
                    background-color: black;
                }

                #Toggle:checked + label #active::before {
                    transform: rotate(-90deg) translateX(-0.5em);
                    background-color: black;
                }

                #Toggle:checked + label #active::after {
                    display: none;
                }
                #Toggle:checked + label #active {
                    transform: rotate(45deg);
                    background-color: black;
                }
                .Menu_container {
                    height: 4em;
                    width: 2em;
                    cursor: pointer;

                    // outline: 2px solid red;
                    @media (min-width: 40em) {
                        display: none;
                    }
                }
            }
            .logo {
                // outline: 2px solid red;
                display: flex;
                align-items: center;
                img {
                    width: clamp(6rem, 12vw, 12rem);
                    aspect-ratio: 3/0.5;
                }
                @media (min-width: 640px) {
                    display: none;
                }
            }
        }
    }
}
