.review {
    --bg: #2694ff;
    padding: 1em 0em 4em 0em;
    // padding: 5em 5em;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    gap: clamp(0.3em, 1vw, 0.8em);
    justify-content: space-around;
    padding-inline: clamp(0.8em, 3vw, 2.5em);
    width: min(86em, 98%);
    margin: auto;
    button {
        border: none;
        background: transparent;
        cursor: pointer;
    }
    &::before,
    &::after {
        content: "";
        width: 14vi;
        aspect-ratio: 1/1;
        display: inline-block;
        outline: 2px solid red;
        border-radius: 50%;

        background-color: var(--bg);
        filter: blur(100px);
        @media (max-width: 640px) {
            filter: blur(45px);
        }
        position: absolute;
        z-index: -1;
    }
    &::before {
        right: 4em;
        top: 0em;
        @media (max-width: 640px) {
            top: 3em;
        }
    }
    &::after {
        left: 4em;
        top: -2em;
        @media (max-width: 640px) {
            top: -0.5em;
        }
    }
    .item {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: clamp(1.2em, 2vw, 2em);
        width: min(80em, 94%);
        padding-top: 4em;
        padding-inline: 1em;
        margin: auto;
        overflow: auto hidden;
        scroll-snap-type: inline mandatory;
        scrollbar-width: none;
        scroll-behavior: smooth;
    }
    .item1 {
        background-color: rgba(255, 255, 255, 0.733);
        // backdrop-filter: blur(100px);
        position: relative;
        padding: 2em 1em 0em 1em;
        margin-bottom: 2em;
        min-width: 14.3em;
        @media (min-width: 640px) {
            min-width: 16.3em;
        }
        @media (min-width: 1050px) {
            min-width: 18em;
        }
        @media (min-width: 1150px) {
            min-width: 19.5em;
        }
        @media (min-width: 1250px) {
            min-width: 20.5em;
        }
        @media (min-width: 1300px) {
            min-width: 21.5em;
        }
        @media (min-width: 1350px) {
            min-width: 22.5em;
        }
        // outline: 2px solid red;
        box-shadow: 1px 4px 4px 2px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        div {
            position: absolute;
            top: -2.3em;
        }
        p {
            text-align: center;
            font-size: clamp(0.7rem, 1vw, 0.9em);
        }
        h4 {
            // padding-top: 0.8em;
            text-align: right;
            padding-bottom: 0.5em;
        }
    }
}
